*
    {
     margin:10px auto;
    }
    h1
    {
     text-align:center;
     color:blue;
    }
    label
    {
     display:inline-block;
     width:320px;
     margin-right:30px;
     text-align:right;
     font-weight:bold;
    }
    form
    {
     height:600px;
     width:1000px;
     background:lightgreen;
    }
    